<div class="login-wrapper">
  <form class="login" (submit)="login(); $event.preventDefault()" [formGroup]="loginForm">
    <label class="title">
      <!--<h3 class="welcome">Welcome to</h3>-->
      Správa motokár
      <!--<h5 class="hint">Use your Company ID to sign in or create one now</h5>-->
    </label>
    <div class="login-group">
      <input class="username" type="text" id="login_username" placeholder="Přihlašovací jméno" formControlName="username">
      <input class="password" type="password" id="login_password" placeholder="Heslo" formControlName="password">
      <div class="checkbox">
        <input type="checkbox" id="rememberme">
        <label for="rememberme">
          Pamatovat přihlášení
        </label>
      </div>
      <div class="error active" *ngIf="credentialsError">
        Špatné jméno nebo heslo
      </div>
      <button type="submit" class="btn btn-primary">PŘIHLÁSIT</button>
    </div>
  </form>
</div>

