.table-gas-purchases {
  max-width: 500px;
}

th.date {
  width: 130px;
}

th.price {
  width: 150px;
}

th.liters {
  width: 90px;
}

th.price-per-liter {
  width: 90px;
}

.buttons-row {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1.5em;
}
