<form [formGroup]="newFillupForm" (submit)="save()">
  <section class="form-block">
    <label>Nové tankování</label>
    <div class="form-group">
      <label for="kart">Motokára</label>
      <select id="kart" class="form-control" formControlName="kart">
        <option *ngFor="let kart of karts" [value]="kart.id">{{kart.number}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="liters">Litry</label>
      <input type="number" id="liters" placeholder="0 l" size="35" formControlName="liters">
    </div>
    <button type="submit" class="btn btn-primary">Uložit</button>
  </section>
</form>
