<clr-main-container>
  <!--<div class="alert alert-app-level">-->
    <!--...-->
  <!--</div>-->

  <clr-header>
    <div class="branding">
      <a routerLink="/protected" class="nav-link">
        <span class="title">Infosystém</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a routerLink="/protected/fuel" routerLinkActive="active" class="nav-link"><span class="nav-text">Nákup benzínu</span></a>
      <a routerLink="/protected/fillup" routerLinkActive="active" class="nav-link"><span class="nav-text">Tankování</span></a>
      <a routerLink="/protected/kart" routerLinkActive="active" class="nav-link"><span class="nav-text">Motokáry</span></a>
      <a routerLink="/protected/kart-hours" routerLinkActive="active" class="nav-link"><span class="nav-text">Motohodiny</span></a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger>
          {{this.user?.username}}
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a routerLink="/protected/profile" clrDropdownItem>Profil</a>
          <a (click)="logout()" clrDropdownItem>Odhlásit</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>

  <!--<nav class="subnav">-->
    <!--...-->
  <!--</nav>-->
  <div class="content-container">
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>
    <!--<nav class="sidenav">-->
      <!--...-->
    <!--</nav>-->
  </div>
</clr-main-container>
