<form [formGroup]="insertForm" (submit)="save()">
  <section class="form-block">
    <label>Lístky</label>

    <div class="form-group">
      <label for="premiseId">Provozovna</label>
      <div class="select">
        <select name="premise" id="premiseId" formControlName="premiseId">
          <option *ngFor="let premise of premises" [value]="premise.id">{{premise.name}}</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="tickets">Počet Lístků</label>
      <input type="text" id="tickets" formControlName="count" />
    </div>

    <button type="submit" class="btn btn-primary">Uložit</button>
  </section>
</form>
