<h1>Přehled tankování</h1>
<table class="table table-gas-purchases">
  <thead>
  <tr>
    <th class="left date">Datum</th>
    <th class="number price">Cena</th>
    <th class="number liters">Litry</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let gasFillup of gasFillups">
    <td class="left">{{gasFillup.date | date:'longDate':'GMT':'cs'}}</td>
    <td class="number">{{gasFillup.kart | number:'0.2-2':'cs'}} Kč</td>
    <td class="number">{{gasFillup.liters | number:'0.0':'cs'}} l</td>
  </tr>
  </tbody>
</table>

<button class="btn btn-primary" (click)="navigateToNew()">Nový</button>
